<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <properties resource="db.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper url="file:///resource/mappers/Patient.xml"/>
        <mapper resource="/mybatis/mappers/Doctor.xml"/>
        <mapper resource="mappers/Nurse.xml"/>
        <mapper resource="mappers/Cleaner.xml"/>
        <mapper resource="mappers/Diagnosis.xml"/>
    </mappers>
</configuration>